[Desktop Entry]
Type=Application
Name=Volume
Comment=Adjust the sound mixer
Exec=/usr/bin/foot /usr/bin/alsamixer
Terminal=false
Categories=AudioVideo;Audio;Mixer;
