[Desktop Entry]
Type=Application
Name=Browser
Comment=Browse the web
Exec=/usr/libexec/wpe-webkit-2.0/MiniBrowser /usr/share/veron/test.html
Terminal=false
Categories=Network;WebBrowser;
